<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Spring-Shiro</title>
    <script th:src="@{/static/js/basic/vue.js}"></script>
    <script th:src="@{/static/js/basic/elementUI.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/basic/emelemtUI.css}"/>
    <script th:src="@{/static/js/basic/jQuery.js}"></script>
    <script th:src="@{/static/js/basic/projectInfo.js}"></script>
    <script th:src="@{/static/js/sys/login.js}"></script>
    <style type="text/css">
        #inLoginDiv {
            position: fixed;
            left: 30%;
            top: 30%;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="loginDiv" style="height: 100%; width: 100%">

    <shiro:guest>
        <div id="inLoginDiv">
            <el-form :model="form" id="loginForm" status-icon :rules="rules" ref="loginForm" label-width="200px"
                     class="demo-ruleForm">
                <el-form-item label="账号" prop="loginname">
                    <el-input type="loginname" @focus="clearAccMsg()" v-model="form.loginname"
                              auto-complete="off"></el-input>
                    <span style="margin-top: -10px;color: red;position: fixed;" v-text="showMsgAcc"
                          v-if="showMsgAcc.length > 0"></span>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" @focus="clearPwdMsg()" v-model="form.password"
                              auto-complete="off"></el-input>
                    <span style="margin-top: -10px;color: red;position: fixed;" v-text="showMsgPwd"
                          v-if="showMsgPwd.length > 0"></span>
                </el-form-item>
                <div style="display: inline-flex;float: right;">
                    <el-button type="primary" @click="submitForm('loginForm')" style="width:50%">登录</el-button>
                    <el-button type="primary" @click="openForm()" style="width:50%">注册</el-button>
                </div>
            </el-form>
        </div>
    </shiro:guest>
</div>
<el-dialog v-cloak title="注册" :close-on-click-modal="false" :show-close="false"
           :close-on-press-escape="false" id="dialog" :visible.sync="show" style="width: 50%;margin-left: 25%;">
    <el-form :model="form" :rules="rules" ref="form" label-width="80px"
             label-position="left" size="mini" style="">
        <el-form-item label="用户名" class="item" prop="loginName">
            <el-input v-model="form.loginName" style="width: 170px"></el-input>
        </el-form-item>
        <el-form-item label="真实姓名" class="item" prop="realName">
            <el-input v-model="form.realName" style="width: 170px"></el-input>
        </el-form-item>
        <el-form-item label="手机号码" class="item" prop="phone">
            <el-input v-model="form.phone" style="width: 170px"></el-input>
        </el-form-item>
        <el-form-item label="性别" class="item" prop="sex">
            <el-select v-model="form.sex" filterable collapse-tags placeholder="请选择"
                       style="height:30px">
                <el-option v-for="item in sexOptions" :key="item.value"
                           :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="密码" class="item" prop="loginPassword">
            <el-input type="input" v-model="form.loginPassword" style="width: 170px"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer" style="">
        <el-button v-on:click="show = false">关 闭</el-button>
        <el-button type="primary" v-on:click="submitForm('form')">保 存</el-button>
    </div>
</el-dialog>
</body>
</html>